.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .45s ease-in-out;
  color: #323232;
  z-index: 1;
  overflow: auto;
  border-radius: 10px;

  .details {
    display: flex;
    font-size: 0.75rem;
    border-bottom: 1px solid #b2b2b2;
    padding: 0.5rem;
    gap: 1rem;

    span {
      flex: 1;
    }

    p, ul {
      flex: 2;
    }

    li {
      margin-bottom: 0.25rem;
    }
  }
}