.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .project-card {
    border: 1px solid #F9F9F980;
    border-radius: 6px;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    height: 18rem;
    overflow: hidden;

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0;
      border-bottom: 1px solid #b2b2b2;
      max-height: 62px;
      min-height: 35px;

      img {
        max-height: 35px;
        max-width: 100%;
      }
    }

    .overview {
      padding: 2.5rem 0.5rem;
      line-height: 1.2;
      font-size: 0.75rem;
      text-align: center;

      .project-action {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        button {
          margin-left: 5px;
          font-size: 0.75rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects-container {
    .project-card {
      flex-basis: auto;
    }
  }
}

@media screen and (min-width: 769px) {
  .projects-container {
    .project-card {
      flex: none;
      width: calc((100% - 20px) / 2);
    }
  }
}

@media screen and (min-width: 1024px) {
  .projects-container {
    .project-card {
      flex: none;
      width: calc((100% - 40px) / 3);
    }
  }
}
