.content-header {
  margin-bottom: 1rem;
  display: inline-block;

  .title-marker {
    &::after {
      content: '';
      display: inline-block;
      height: 4px;
      background-color: #67B069;
      width: 0;
      border-radius: 3px;
      transition: width 0.4s ease-in-out;
    }
  }

  &.active {
    .title-marker {
      &::after {
        width: 75%;
      }
    }
  }
}