.progress-bar-card {
  display: flex;
  border-radius: 0.5rem;
  padding: 0.625rem;
  flex-direction: column;
  margin-bottom: 0.625rem;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    // font-weight: 500;
    // font-size: 0.75rem;
  }
  .progress-bar {
    display: flex;
    height: 0.875rem;
    border-radius: 1rem;
    background: #67B06920;
    align-items: center;
    margin-top: 0.25rem;
    .percentage-bar {
      background-color: #67B069;
      z-index: 2;
      height: 0.75rem;
      border-radius: 1rem;
      transition: width 1s ease-in-out;
      font-size: 0.625rem;
      font-weight: 700;
      text-align: right;
      line-height: 0.75rem;
      padding-right: 0.25rem;
    }
  }
}