@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1;
}

body {
  background-color: #181818;
  color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}
.portfolio-dashboard {
  display: flex;
  gap: 15px;
  height: 100%;
  min-height: calc(100vh - 40px);
  padding: 20px;
}

.section-bg {
  position: relative;
  background-color: #212121;
  border-radius: 15px;
  padding: 1.5rem;
  border: 2px solid #2B2B2B;
}

.dashboard-content {
  flex: 1;
}

.intro-info {
  max-width: 70rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 93px);
}

.heading-primary {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text-primary {
  text-align: center;
  line-height: 1.6;
}

.intro-cta {
  margin-top: 2rem;
}

.btn {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: normal;
  display: inline-block;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border: 0;
  overflow: hidden;
}

.btn-primary {
  background-color: #67B069;
  padding: 1rem 2.5rem;
}

.btn-primary-hover::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #F9F9F930;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}

.btn-primary-hover:hover::after {
  width: 100%;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .portfolio-dashboard {
    padding: 0;
  }

  .section-bg {
    border-radius: 0;
    border: 0;
  }

  .dashboard-content {
    padding-top: 3rem;
  }
}